# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages used in Data Science
- List commonly used libraries in Data Science
- Learn to use markdown
- Learn to use arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
- Python
- R
- Julia

Some of the commonly used libraries used by Data Scientists include:
- Python libraries such as: matplotlib
- pandas
- numpy
- scikit-learn
- tensorflow
- pytorch

| Data Science Tools |
---
| Jupiter Notebook |
| Zeppelin Notebook |
| Hadoop |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by dividing by 60.

hour = int(200 // 60)
min = int(200 % 60)
print("200 minutes are equivalent to", hour, "hours and", min, "minutes.")

200 minutes are equivalent to 3 hours and 20 minutes.

## Author
Kibbeum Na